@import url("https://theme-park.dev/css/base/filebrowser/organizr.css");

/* Available Themes:
https://docs.theme-park.dev/themes/filebrowser/
*/

/* You can also use this for more icon colors:
https://raw.githubusercontent.com/jniggemann/filebrowser-css/main/custom.css
*/

/* remove some padding from the file list entries */
#listing.list .item {
    padding: 0.3em;
}
