@import url("https://theme-park.dev/css/base/filebrowser/organizr.css");

/* Available Themes:
@import url("https://theme-park.dev/css/base/filebrowser/aquamarine.css");
@import url("https://theme-park.dev/css/base/filebrowser/hotline.css");
@import url("https://theme-park.dev/css/base/filebrowser/hotpink.css");
@import url("https://theme-park.dev/css/base/filebrowser/dracula.css");
@import url("https://theme-park.dev/css/base/filebrowser/dark.css");
@import url("https://theme-park.dev/css/base/filebrowser/organizr.css");
@import url("https://theme-park.dev/css/base/filebrowser/space-gray.css");
@import url("https://theme-park.dev/css/base/filebrowser/overseerr.css");
@import url("https://theme-park.dev/css/base/filebrowser/plex.css");
@import url("https://theme-park.dev/css/base/filebrowser/nord.css");
@import url("https://theme-park.dev/css/base/filebrowser/maroon.css");
*/

/* You can also use this for more icon colors:
/*https://raw.githubusercontent.com/jniggemann/filebrowser-css/main/custom.css


/* remove some padding from the file list entries */
#listing.list .item {
    padding: 0.3em;
}
